In [1]:
import pandas as pd
import numpy as np

from string import punctuation
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import sigmoid_kernel, linear_kernel, cosine_similarity

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\rajat\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [3]:
df = pd.read_csv('./tmdb_movies_may_20_clean.csv')

In [4]:
df

,id,original_title,popularity,adult,overview,releaseDate,poster_path,genres,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,419704.0,Ad Astra,517.169,False,The near future a time when both hope and har...,2019-09-17,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Drama Science Fiction,NaN,NaN,NaN,NaN,NaN
1,338762.0,Bloodshot,183.316,False,After he and his wife are murdered marine Ray...,2020-03-05,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Action Science Fiction,NaN,NaN,NaN,NaN,NaN
2,385103.0,Scoob!,144.906,False,In Scooby-Doo’s greatest adventure yet see th...,2020-05-15,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Adventure Animation Comedy Mystery Family,NaN,NaN,NaN,NaN,NaN
3,576156.0,The Lovebirds,118.500,False,A couple experiences a defining moment in thei...,2020-05-22,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Action Comedy Romance,NaN,NaN,NaN,NaN,NaN
4,686245.0,Survive the Night,97.197,False,A disgraced doctor and his family are held hos...,2020-05-22,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Action Thriller,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,165904.0,?????? 26,10.198,False,In the early 1980s in India a group of con ar...,2013-02-07,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Crime Drama Thriller,NaN,NaN,NaN,NaN,NaN
9996,14940.0,Gigantic,6.556,False,Young mattress salesman Brian decides to adopt...,2008-09-09,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Comedy Romance,NaN,NaN,NaN,NaN,NaN
9997,11112.0,The Associate,8.194,False,Laurel Ayres is a businesswoman trying to make...,1996-10-25,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Comedy,NaN,NaN,NaN,NaN,NaN
9998,11689.0,I due superpiedi quasi piatti,8.943,False,An attempted robbery turns to be an unexpected...,1977-04-01,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Action Comedy,NaN,NaN,NaN,NaN,NaN
9999,9011.0,The Prophecy 3: The Ascent,7.984,False,The conclusion to The Prophecy Trilogy. Once a...,2000-03-14,https://image.tmdb.org/t/p/w185_and_h278_bestv...,Fantasy Horror Thriller,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['id', 'original_title', 'popularity', 'adult', 'overview',
       'releaseDate', 'poster_path', 'genres', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [6]:
df_sel = df[['original_title', 'overview', 'genres']]

In [7]:
df_sel

,original_title,overview,genres
0,Ad Astra,The near future a time when both hope and har...,Drama Science Fiction
1,Bloodshot,After he and his wife are murdered marine Ray...,Action Science Fiction
2,Scoob!,In Scooby-Doo’s greatest adventure yet see th...,Adventure Animation Comedy Mystery Family
3,The Lovebirds,A couple experiences a defining moment in thei...,Action Comedy Romance
4,Survive the Night,A disgraced doctor and his family are held hos...,Action Thriller
...,...,...,...
9995,?????? 26,In the early 1980s in India a group of con ar...,Crime Drama Thriller
9996,Gigantic,Young mattress salesman Brian decides to adopt...,Comedy Romance
9997,The Associate,Laurel Ayres is a businesswoman trying to make...,Comedy
9998,I due superpiedi quasi piatti,An attempted robbery turns to be an unexpected...,Action Comedy
9999,The Prophecy 3: The Ascent,The conclusion to The Prophecy Trilogy. Once a...,Fantasy Horror Thriller

In [8]:
df_sel['text'] = df_sel['overview'] + ' ' + df_sel['genres']

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
df_sel

,original_title,overview,genres,text
0,Ad Astra,The near future a time when both hope and har...,Drama Science Fiction,The near future a time when both hope and har...
1,Bloodshot,After he and his wife are murdered marine Ray...,Action Science Fiction,After he and his wife are murdered marine Ray...
2,Scoob!,In Scooby-Doo’s greatest adventure yet see th...,Adventure Animation Comedy Mystery Family,In Scooby-Doo’s greatest adventure yet see th...
3,The Lovebirds,A couple experiences a defining moment in thei...,Action Comedy Romance,A couple experiences a defining moment in thei...
4,Survive the Night,A disgraced doctor and his family are held hos...,Action Thriller,A disgraced doctor and his family are held hos...
...,...,...,...,...
9995,?????? 26,In the early 1980s in India a group of con ar...,Crime Drama Thriller,In the early 1980s in India a group of con ar...
9996,Gigantic,Young mattress salesman Brian decides to adopt...,Comedy Romance,Young mattress salesman Brian decides to adopt...
9997,The Associate,Laurel Ayres is a businesswoman trying to make...,Comedy,Laurel Ayres is a businesswoman trying to make...
9998,I due superpiedi quasi piatti,An attempted robbery turns to be an unexpected...,Action Comedy,An attempted robbery turns to be an unexpected...
9999,The Prophecy 3: The Ascent,The conclusion to The Prophecy Trilogy. Once a...,Fantasy Horror Thriller,The conclusion to The Prophecy Trilogy. Once a...

In [10]:
df_sel.dropna(inplace=True)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
stopwords = set(stopwords.words('english'))

In [13]:
text = df_sel['text'].values[0]

In [14]:
def clean_text(text):
    ctext = ''.join([c for c in text.lower() if c not in punctuation])
#     ctext = ' '.join([word for word in ctext.split(' ') if word not in stopwords])
#     return " ".join(ctext.split())
    return ctext

In [15]:
clean_text(text)

'the near future  a time when both hope and hardships drive humanity to look to the stars and beyond while a mysterious phenomenon menaces to destroy life on planet earth  astronaut roy mcbride undertakes a mission across the immensity of space and its many perils to uncover the truth about a lost expedition that decades before boldly faced emptiness and silence in search of the unknown drama science fiction'

In [16]:
df_sel['clean_text'] = df_sel['text'].apply(lambda x: clean_text(x))

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
df_sel = df_sel[['original_title', 'clean_text']]

In [18]:
df_sel['original_title'] = df_sel['original_title'].apply(lambda x: x.lower())

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_sel.head(2)

  original_title                                         clean_text
0       ad astra  the near future  a time when both hope and har...
1      bloodshot  after he and his wife are murdered  marine ray...

In [20]:
df_sel['clean_text'].values[1]

'after he and his wife are murdered  marine ray garrison is resurrected by a team of scientists enhanced with nanotechnology  he becomes a superhuman  biotech killing machine—bloodshot as ray first trains with fellow supersoldiers  he cannot recall anything from his former life but when his memories flood back and he remembers the man that killed both him and his wife  he breaks out of the facility to get revenge  only to discover that theres more to the conspiracy than he thought action science fiction'

In [38]:
tfidf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')

In [39]:
vec_arr = tfidf.fit_transform(df_sel['clean_text'])

In [40]:
vec_arr.shape

(9963, 248621)

In [41]:
sim_mat = cosine_similarity(vec_arr, vec_arr)

In [42]:
sim_mat.shape

(9963, 9963)

In [43]:
# smd = smd.reset_index()
titles = df_sel['original_title']
indices = pd.Series(df_sel.index, index=df_sel['original_title'])

In [44]:
df_sel[df_sel['original_title']=='ad astra']

  original_title                                         clean_text
0       ad astra  the near future  a time when both hope and har...

In [45]:
indices[indices == 100].index[0]

'deadpool'

In [46]:
indices['the dark knight']

30

In [47]:
indices

original_title
ad astra                            0
bloodshot                           1
scoob!                              2
the lovebirds                       3
survive the night                   4
                                 ...
?????? 26                        9995
gigantic                         9996
the associate                    9997
i due superpiedi quasi piatti    9998
the prophecy 3: the ascent       9999
Length: 9963, dtype: int64

In [48]:
sim_mat[100]

array([0.00185104, 0.0055889 , 0.00981429, ..., 0.00635522, 0.0035319 ,
       0.        ])

In [49]:
indices['dunkirk']

321

In [50]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(sim_mat[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices].values

In [51]:
get_recommendations('the lord of the rings')

array(['funny games', 'the prince of tides', 'the addams family',
       'vanilla sky', 'into the arms of danger'], dtype=object)

In [35]:
indices[indices == 'the green mile']

D:\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Series([], dtype: int64)

In [36]:
pd.Series(cosine_sim[245]).sort_values(ascending = False)

NameError: name 'cosine_sim' is not defined

In [58]:
# indices.to_csv('./indices.csv')
np.save('./movies_sim.npy', sim_mat)

/home/rajat/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [62]:
indices.to_frame('index').reset_index().to_csv('./indices.csv')

In [64]:
ind_df = indices.to_frame('index').reset_index()

In [67]:
list(ind_df[ind_df['index'].isin([2342, 2121, 2005, 2217])]['original_title'].values)

["kelly's heroes", 'return to never land', 'where eagles dare', 'midway']